lab1/.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
lab1/.idea/modules.xml
lab1/.idea/jarRepositories.xml
lab1/.idea/compiler.xml
lab1/.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

/lab1/gradle
/lab1/.gigaide
/lab1/.idea
.gradle/wrapper
*.txt
gradlew
gradlew.bat
settings.gradle.kts